# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
env/
venv/
ENV/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Projetos locais / backups
_pgbackup/
_pginfo/
